<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="el"> 
<head>
<meta name="author" content="Andreas Porevopoulos, sv1jsb@gmail.com">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.ui.css" type="text/css" media="screen" title="no title" charset="utf-8">
{% block style %}{% endblock %}
<title>{% block title %}{% endblock %}</title>
</head> 
<body> 

			    {% block content %}
			    {% endblock %}	


    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.js"></script>
    {% block scriptsjs %}{% endblock %}
</body>
</html> 
